@import '../main.scss';

.certificates {
  margin: 2em auto;
  .certificates__title {
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.1em;
  }
  .certificates__card {
    margin: 1em auto;
    .card {
      height: 100%;
      background-color: $color-black;
      border: 1px solid $color-purple;
      padding-bottom: 1.5em;
      // img {
      //   &:hover {
      //     transform: scale(1.1);
      //   }
      // }
      .card-body__title {
        margin-bottom: 0;
      }

      .card-body__date {
        font-size: 0.9em;
        margin-bottom: 2em;
      }

      .card-body__button {
        display: flex;
        justify-content: center;
      }
    }
  }
}
