@import '../main.scss';

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .contact__title {
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.1em;
  }
  .screen {
    .screen-body {
      .screen-body-item {
        form {
          .form-control {
            width: 100%;
            padding: 10px 0;
            background: none;
            border: none;
            border-bottom: 1px solid #666;
            color: #ddd;
            font-size: 14px;
            text-transform: uppercase;
            outline: none;
            transition: border-color 0.2s;
          }
        }
      }
    }
  }
}
