@import '../main.scss';

.contact {
  border: 1px solid red;
  .contact__title {
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.1em;
  }
  .screen {
    border: 1px solid green;
    .screen-header {
      border: 1px solid olive;
    }
    .screen-body {
      border: 1px solid pink;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .screen-body-item {
        form {
          .form-control {
            width: 100%;
            padding: 10px 0;
            margin-bottom: 1em;
            background: none;
            border: none;
            border-bottom: 1px solid #666;
            color: #ddd;
            font-size: 14px;
            text-transform: uppercase;
            outline: none;
            transition: border-color 0.2s;
            &:placeholder {
              color: #666;
            }
            &:focus {
              border-bottom-color: #ddd;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}
