@import '../main.scss';

.contact-body {
  height: 100vh;
  width: 100%;
  background-image: url('../../images/pexels-davi-pimentel-2064827.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: initial;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-body-item {
  // width: 500px;
  // height: 500px;
  display: grid;
  grid-template-columns: auto 40%;
  grid-template-areas: 'left right';
  // border: 5px solid red;
  padding: 50px;
  background: #3a3c41;
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: $color-purple;
    font-size: 2em;
    text-transform: uppercase;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 25px;
      height: 4px;
      background: $color-purple;
    }
  }
}

.left {
  grid-area: left;
  // background: #ddd;
  display: flex;
  flex-direction: column;
}

.right {
  grid-area: right;
  // background-color: chocolate;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
  textarea {
    resize: none;
  }
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
  .app-form-button {
    text-transform: uppercase;
    background: none;
    border: none;
    color: $color-purple;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }

  .app-form-button:hover {
    color: #b9134f;
  }
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  // text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
  &:focus {
    border-bottom-color: #ddd;
    background: #3a3c41;
  }
  &:placeholder {
    color: #3a3c41;
  }
}

@media screen and (max-width: 520px) {
  .contact-body {
    flex-direction: column;
  }

  .contact-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .contact-body-item {
    display: flex;
    flex-direction: column;
    padding: 30px;
    .left {
      margin-bottom: 2em;
    }
  }
}
