@import '../main.scss';

.experience {
  .experience__title {
    text-transform: uppercase;
    font-weight: bold;
  }
}
.experience__info {
  padding-bottom: 2em;
  img {
    margin-bottom: 2em;
  }
}
