@import '../main.scss';

.experience {
  .experience__title {
    text-transform: uppercase;
    font-weight: bold;
  }
}
.experience__info {
  padding-bottom: 2em;
  img {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: $break-portrait) {
  .experience__text {
    padding: 1em 2em;
  }
}
