@import '../main.scss';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // margin-top: 2em;
  .footer__social-links {
    padding: 0;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    li {
      display: flex;
      align-items: center;
      padding: 1rem;
      list-style: none;
      margin: auto 2rem;
    }
  }
  .footer__text {
    font-weight: lighter;
    margin-top: 0;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: $break-portrait) {
  .footer {
    // background-color: red;
    .footer__social-links li {
      margin: auto 0.8rem;
    }
    .footer__text {
      font-size: 0.8em;
    }
  }
}
