@import '../main.scss';

@media screen and (max-width: $break-phone) {
  .header {
    background-color: darkcyan;
    color: $color-gray;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .logo {
      width: 3em;
    }
    .menu {
      width: min-content;
      ul {
        padding-left: 0;
        li {
          text-align: center;
          font-size: 2em;
          font-weight: bold;
          text-transform: uppercase;
          list-style: none;
          a {
            color: $color-gray;
            text-decoration: none;
            font-weight: bold;
            &:hover {
              color: $color-purple;
              cursor: pointer;
              transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
            }
          }
        }
      }
    }
  }
}
