@import '../main.scss';

.header {
  background-color: $color-black;
  color: $color-gray;
  a {
    color: $color-gray;
    text-decoration: none;
    font-weight: bold;
    margin-right: 5em;
    text-transform: uppercase;
    &:hover {
      color: $color-purple;
      cursor: pointer;
    }
  }
}
