@import '../main.scss';

.info-container {
  height: 90vh;
  display: flex;
  align-items: center;
  a {
    text-transform: uppercase;
    background: none;
    line-height: 1;
    color: #8083ff;
    transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    &:hover,
    &:focus {
      color: white;
      text-decoration: none;
    }
  }
}

.info-container__img,
.info-container__text {
  align-self: center;
}

.info-container__text {
  padding: 0;
}
@media screen and (max-width: $break-tablet) {
  .title {
    font-size: 3em;
  }
}

@media screen and (max-width: $break-phone) {
  .info-container__text {
    text-align: center;
    order: 2;
  }
  .info-container__img {
    order: 1;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: $break-portrait) {
  .title {
    font-size: 2em;
  }
}
