@import '../main.scss';
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.home-page {
  .social-container {
    width: fit-content;
    transform: rotate(-90deg);
    position: absolute;
    left: -230px;
    top: 30em;
    ul {
      display: flex;
      li {
        list-style: none;
        margin: auto 1em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        &:hover {
          color: $color-purple;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: $break-tablet) {
  .social-container {
    display: none;
  }
}
