@import '../main.scss';
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.cube {
  margin: 1.5em auto;
  width: 7em;
  height: 7em;
  border: 20px solid transparent;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 3em;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Permanent Marker';
  background-image: linear-gradient($color-black, $color-black),
    linear-gradient($color-purple, $color-green);
  background-repeat: no-repeat;
  background-origin: padding-box, border-box;
  text-align: center;
}

@media screen and (max-width: $break-tablet) {
  .cube {
    font-size: 2.6em;
    margin: 1em auto;
  }
}

@media screen and (max-width: $break-phone) {
  .cube {
    font-size: 2em;
    border: 15px solid transparent;
  }
}
