@import '../main.scss';

.main {
  display: grid;
  grid-template-columns: 10% 90%;
  // .social-links {
  //   background-color: red;
  //   // display: flex;
  //   // flex-direction: column;
  //   li {
  //     margin: 5em 1rem;
  //     transform-origin: top left;
  //     transform: rotate(90deg);
  //     list-style: none;
  //     width: fit-content;
  //     text-transform: uppercase;
  //     font-weight: bold;

  //     &:hover {
  //       color: $color-purple;
  //       cursor: pointer;
  //     }
  //   }
  // }

  .container {
    margin: auto;
    width: calc(100% / 3);
    height: 40vh;
    border: 20px solid transparent;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 900;
    font-family: $baseheadingfont;
    padding: 1rem;
    display: flex;
    font-size: 3em;
    justify-content: center;
    align-items: center;
  }

  .cube {
    background-image: linear-gradient($color-black, $color-black),
      linear-gradient(133deg, $color-purple 30%, $color-green 86%);
    background-repeat: no-repeat;
    background-origin: padding-box, border-box;
    text-align: center;
  }
}
