@import '../main.scss';

.card {
  height: 100%;
  background-color: $color-black;
  border: 1px solid $color-purple;
}

.projects-content__card {
  margin: 1em auto;
}

.projects-content__title {
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.project-image {
  height: 500px;
}

@media screen and (max-width: $break-portrait) {
  .projects-content__title {
    text-align: center;
    font-size: 1em;
  }
}
