/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/
$basefont: 'Open Sans', sans-serif;
$altfont: 'Roboto', sans-serif;
$baseheadingfont: $altfont;

$baseheadingfontweight: bold;

$basefontsize: 16;

/*------------------------------------*\
    $COLORS
\*------------------------------------*/

$color-green: #54ecc4;
$color-purple: #8083ff;
$color-gray: #bcbcbc;
$color-black: #1f1f1f;
$color-white: #ffffff;

//Links

$linkcolor: $color-purple;
$linkhover: $linkcolor;

/*------------------------------------*\
    $TEXTURES
\*------------------------------------*/

$buttonbackground: transparent;
$buttonbordercolor: currentcolor;
$buttoncolor: $color-purple;
$buttonborderwidth: 1px;
$buttonborderstyle: solid;

/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/

$break-tablet: 991.98px;
$break-phone: 767.98px;
$break-portrait: 575.98px;

/*------------------------------------*\
    $SCROLLBAR
\*------------------------------------*/

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #8083ff;
  border: 0px none #ffffff;
  border-radius: 38px;
}
::-webkit-scrollbar-thumb:hover {
  background: #54ecc4;
}
::-webkit-scrollbar-thumb:active {
  background: #8083ff;
}
::-webkit-scrollbar-track {
  background: #1f1f1f;
  border: 0px none #ffffff;
  border-radius: 57px;
}
::-webkit-scrollbar-track:hover {
  background: #1f1f1f;
}
::-webkit-scrollbar-track:active {
  background: #1f1f1f;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/*------------------------------------*\
    $BUTTONHOVER  
\*------------------------------------*/

a {
  color: inherit;
  &:hover {
    text-decoration: none;
    color: $color-purple;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  }
}

/*------------------------------------*\
    $TITLES  
\*------------------------------------*/
.primary-title {
  color: $color-green;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.3em;
}

.secondary-title {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
}

.sub-title {
  margin-bottom: 3px;
  text-transform: uppercase;
  font-weight: 600;
}

@media screen and (max-width: $break-tablet) {
  .primary-title {
    font-size: 3em;
    margin-bottom: 0.3em;
  }
}

@media screen and (max-width: $break-portrait) {
  .primary-title {
    font-size: 2em;
    margin-bottom: 0.3em;
  }
}
